@model V.Blog.Test.Models.LoginModel

<a class="Popup" href="#modalsubdomain">Login</a>

<div id="modalsubdomain" style="display: none; width: 500px;" class="modal-example-content">
    <div class="modal-example-header">
        <button type="button" class="close" onclick="$.fn.custombox('close');">
            &times;</button>
        <h4>Login</h4>
    </div>
    <div class="modal-example-body">
        <div class="logBox nopad">
            @using (Ajax.BeginForm("AuthenticateUser", "Home", new AjaxOptions
            {
                HttpMethod = "Post",
                OnSuccess = "AuthenticateUserSuccess"
            }, new { id = "LoginForm" }))
            {                         

                
                <div class="row">
                    @Html.TextBox("txtemail", "Email", new { onfocus = "setForIE()", onchange = "clearErrorMessage();ValidateEntryForm(this);" })
                    @Html.TextBoxFor(model => model.UserName, new
                       {

                           @maxlength = 100,
                           @onchange = "clearErrorMessage();ValidateEntryForm(this);",
                           @class = "inputFocus",
                           @onblur = "if($.browser.msie){if(this.value==''){ $('#Email').hide();$('#txtemail').show();}}",
                           placeholder = "Email"

                       })
                    <div id="Email_Required" class="msgError">@Html.ValidationMessageFor(model => model.UserName)</div>
                </div>
                <div class="row">
                    @Html.TextBox("txtPassword", "Password", new { onfocus = "setForIEp()", onchange = "clearErrorMessage();ValidateEntryForm(this);" })
                    @Html.PasswordFor(model => model.Password, new
                       {

                           @maxlength = 100,
                           @onchange = "clearErrorMessage();ValidateEntryForm(this);",
                           @autocomplete = "off",
                           @class = "inputFocus",
                           @onblur = "if($.browser.msie){if(this.value==''){ $('#Password').hide();$('#txtPassword').show();}}",

                           placeholder = "Password"
                       })
                    <div id="Password_Required" class="msgError">@Html.ValidationMessageFor(model => model.Password)</div>
                    <div id="Invalid_LoginError" class="msgError">
                        <span></span>
                    </div>
                </div>   
                <div class="row">
                    <p>
                        <input id="chkRememberMe" type="checkbox" onclick="SetRememberMeValue(this);" style="float: left; margin-top: 2px;" />&nbsp;Remember Me
                    </p>
                </div>                     
                <div class="row btn">
                    <input id="btnSubmit" type="submit" value="Submit" onclick="return ValidateDomainForm(); " />
                </div>
                <div class="row btn clearfix">
                    <p>
                        <a id="forgotPopup" href="javascript:void(0);" onclick="fnShowForgotpopup();" class="Popup">Forgot password?</a>
                    </p>
                </div>
            }
        </div>
    </div>
</div>
